<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="/">Home</a></li>
  <li class="breadcrumb-item active">Blogs</li>
</ol>
<h1>Blogs</h1>
<%= @articles.count %>
articles
<table>
  <% @articles.each do |article| %>
  <%= render partial: "thumbnail", locals: {a: article} %>
  <% end %>
</table>
