<ol class="breadcrumb">
  <li class="breadcrumb-item active">Home</li>
</ol>
<h1 class="text-info">Welcome to our website!</h1>
<h4 class="mt-3 text-warning">PHOTOS:</h4>
<div class="row">
  <div class="my-image col-md-4 col-sm-6">
    <img src="https://i.ytimg.com/vi/C8NAYW-Z54o/maxresdefault.jpg" alt="">
  </div>
  <div class="my-image col-md-4 col-sm-6">
    <img src="https://i.ytimg.com/vi/C8NAYW-Z54o/maxresdefault.jpg" alt="">
  </div>
  <div class="my-image col-md-4 col-sm-6">
    <img src="https://i.ytimg.com/vi/C8NAYW-Z54o/maxresdefault.jpg" alt="">
  </div>
  <div class="my-image col-md-4 col-sm-6">
    <img src="https://i.ytimg.com/vi/C8NAYW-Z54o/maxresdefault.jpg" alt="">
  </div>
  <div class="my-image col-md-4 col-sm-6">
    <img src="https://i.ytimg.com/vi/C8NAYW-Z54o/maxresdefault.jpg" alt="">
  </div>
  <div class="my-image col-md-4 col-sm-6">
    <img src="https://i.ytimg.com/vi/C8NAYW-Z54o/maxresdefault.jpg" alt="">
  </div>
  <div class="my-image col-md-4 col-sm-6">
    <img src="https://i.ytimg.com/vi/C8NAYW-Z54o/maxresdefault.jpg" alt="">
  </div>
  <div class="my-image col-md-4 col-sm-6">
    <img src="https://i.ytimg.com/vi/C8NAYW-Z54o/maxresdefault.jpg" alt="">
  </div>
  <div class="my-image col-md-4 col-sm-6">
    <img src="https://i.ytimg.com/vi/C8NAYW-Z54o/maxresdefault.jpg" alt="">
  </div>
  
</div>
<h4 class="mt-3 text-warning">BLOGS:</h4>
<table>
  <% @articles.each do |article| %>
  <%= render partial: "/articles/thumbnail", locals: {a: article} %>
  <% end %>
</table>
