<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <a href="/">Home</a>
  </li>
  <li class="breadcrumb-item active">Photos</li>
</ol>
<h1>Photos</h1>
<div class="row">
  <div class="my-image col-md-4 col-sm-6">
    <img src="https://i.ytimg.com/vi/C8NAYW-Z54o/maxresdefault.jpg" alt="">
  </div>
  <div class="my-image col-md-4 col-sm-6">
    <img src="https://i.ytimg.com/vi/C8NAYW-Z54o/maxresdefault.jpg" alt="">
  </div>
  <div class="my-image col-md-4 col-sm-6">
    <img src="https://i.ytimg.com/vi/C8NAYW-Z54o/maxresdefault.jpg" alt="">
  </div>
  <div class="my-image col-md-4 col-sm-6">
    <img src="https://i.ytimg.com/vi/C8NAYW-Z54o/maxresdefault.jpg" alt="">
  </div>
  <div class="my-image col-md-4 col-sm-6">
    <img src="https://i.ytimg.com/vi/C8NAYW-Z54o/maxresdefault.jpg" alt="">
  </div>
  <div class="my-image col-md-4 col-sm-6">
    <img src="https://i.ytimg.com/vi/C8NAYW-Z54o/maxresdefault.jpg" alt="">
  </div>
  <div class="my-image col-md-4 col-sm-6">
    <img src="https://i.ytimg.com/vi/C8NAYW-Z54o/maxresdefault.jpg" alt="">
  </div>
  <div class="my-image col-md-4 col-sm-6">
    <img src="https://i.ytimg.com/vi/C8NAYW-Z54o/maxresdefault.jpg" alt="">
  </div>
  <div class="my-image col-md-4 col-sm-6">
    <img src="https://i.ytimg.com/vi/C8NAYW-Z54o/maxresdefault.jpg" alt="">
  </div>
  <div class="my-image col-md-4 col-sm-6">
    <img src="https://i.ytimg.com/vi/C8NAYW-Z54o/maxresdefault.jpg" alt="">
  </div>
  <div class="my-image col-md-4 col-sm-6">
    <img src="https://i.ytimg.com/vi/C8NAYW-Z54o/maxresdefault.jpg" alt="">
  </div>
  <div class="my-image col-md-4 col-sm-6">
    <img src="https://i.ytimg.com/vi/C8NAYW-Z54o/maxresdefault.jpg" alt="">
  </div>
  </div>
