<div class="row">
  <div class="col-md-12">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Home</a></li>
      <li class="breadcrumb-item active">About</li>
    </ol>
  </div>
  <div class="col-md-12">
    <h1>About us: Nhóm ABC</h1>
    <p>
      <div></div>
      <div class="row">
        <div class="my-image col-md-3 col-sm-4">
          <img src="https://scontent.fsgn1-1.fna.fbcdn.net/v/t1.0-9/19601048_1352745661499000_2101184357756775848_n.jpg?oh=2768c8cf23bbea43d2c5bee4217f5ebd&oe=5A4141B2" alt="">
          <div>1412550</div>
          <div>Trần Minh Tiến</div>
        </div>

        <div class="my-image col-md-3 col-sm-4">
          <img src="https://scontent.fsgn1-1.fna.fbcdn.net/v/t1.0-1/11062812_442749395888039_2787850907160977825_n.jpg?oh=44acb6fe7affefda5800d3fb33d839ab&oe=5A792C70" alt="">
          <div>1412539</div>
          <div>Trần Hồng Thuận</div>
        </div>
      </div>
    </p>
  </div>
  <div class="my-image col-md-12">
    <img src="https://scontent.fsgn5-4.fna.fbcdn.net/v/t35.0-12/22396556_1438230622950503_1442246165_o.png?oh=51b04d28115eb760a402731889d33049&oe=59DDE62E" style = "width: 60%">
  </div>
  <div class="col-md-12">
    <p class="text-muted">Address: 549/40 Xô Viết Nghệ Tĩnh, phường 26, quận Bình Thạnh, T PHCM.</p>
  </div>
</div>
