@import "bootstrap";
@import "_variables";
@import "photos";
@import "articles";
@import "font-awesome";

.nav-cusomize-color{
  background-color: RGBA(167,167,167,0.7);
}

.footer{
  background-color: RGBA(0,123,255,0.5);
  color: RGBA(256,256,256,0.8);
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
}

.newContainer{
  @extend .container;
  padding-bottom: 40px;
  height: calc(100% - 60px);
}
html{
  min-height:100%;
}
body{
  min-height: 100%;
}
